<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1.0.2"
    android:versionName="1.0.2" >
	<uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE" />

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="37" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_final"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >
		
		<receiver android:name=".WidgetAPI"
		    android:exported="false">
			<intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="com.junior.MyVolume.VOLUME_UP" />
		        <action android:name="com.junior.MyVolume.VOLUME_DOWN" />
		    </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/provider" />
</receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
    android:name=".MyQSTileService"
    android:icon="@drawable/no"
    android:label="@string/app_name"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    android:exported="true">
	<meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
         android:value="true" />
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>
</service>
    </application>

</manifest>